/* .listing {
    display: flex;
    padding: 4rem;
    width: 90%;
    max-width: 54rem;
    margin-top: 34rem;
    margin-right: 12rem;
    max-height: 14rem;
    background: yellow;
    
} */


.organizer{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.organizer .donutChart{
  /* margin-bottom: 4rem; */
  /* margin-left: 45%; */
  /* margin: auto; */
  
  width:100%;
  padding-left: 6rem;
  padding-top: 8rem;
  
  
 
  /* margin-top: 6rem; */
}
.organizer .cardEdit{
    margin: auto;
  
    /* width: 90%; */
    /* margin-left: 20%; */
    /* padding-left: 15%;
    padding-right: 3%; */
    padding-top: 2rem;
    padding-left:8rem;
    padding-right:1rem;
    min-width:85%;
    
}



.food {
    /* max-width: 60rem; */
    
    
    /* margin-right: 20rem; */
    /* max-height: 10rem; */
    max-height: 34vh;
    overflow: scroll;
    scrollbar-width: none;
    background-image: none;
        
  }


  .food::-webkit-scrollbar{
    display: none;
  }
  
  .food ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }


  .cardEdit button{
    cursor: pointer;
    width: 15%;
    border: 1px solid #0c0c0c;
    background-color: #d4716e;
    color: white;
    border-radius: 20px;
    padding: .5rem;
  }
