.cardEdit{
    margin: auto;
    width: 100%;

    padding-left: 8rem;
    padding-right: 2.5rem;
    padding-top: 4rem;
    
}
.cardEdit ul{
  padding: 0;
}

.workouts {
    height: 65vh;

    
    overflow: scroll;
    scrollbar-width: none;
    background-image: none;
        
  }

  .workouts::-webkit-scrollbar{
    display: none;
  }
  
