.fullCard li{
    list-style: none;
}


.inLineCards{
    display:flex;
    cursor: pointer;
    
}



.button{
    margin:auto;
    padding-right:14px;
   
}

.inLineCards .fullCard{
    width: 100%;
}