/* .donutChart {
   display: flex; 
  
   
} */

.label{
   max-height: fit-content;
   
}

.label h1 {
   /* margin-top: 10rem; */

   max-width: 17rem;
   margin: auto;
   text-align: center;
}

.mover{
   display:flex;
   padding-left:4rem;
}
