.label{
   max-height: fit-content;
   text-align: center;
   
}

.label h1 {
   max-width: 17rem;
   margin: auto;
   text-align: center;
}

.label button{
    cursor: pointer;
    width: 15%;
    border: 1px solid #0c0c0c;
    background-color: #5e7fe9;
    color: white;
    border-radius: 20px;
    padding: .5rem;
}

.mover{
   display:flex;
   padding-left:4rem;
}
