/* .listing {
    display: flex;
    padding: 4rem;
    width: 90%;
    max-width: 54rem;
    margin-top: 34rem;
    margin-right: 12rem;
    max-height: 14rem;
    background: yellow;
    
} */

.cardEdit{
  /* margin: auto; */
  max-width: 60%;
  margin-left: 40rem;
  /* width: 95%; */
  /* margin-left: 20%; */
  
  
}

.food {
    /* max-width: 60rem; */
    
    
    /* margin-right: 20rem; */
    max-height: 10rem;
    
    overflow: scroll;
    scrollbar-width: none;
    background-image: none;
        
  }


  .food::-webkit-scrollbar{
    display: none;
  }
  
  .food ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .donutChart{
    /* margin-bottom: 4rem; */
    margin-left: 45%;
    margin-top: 6rem;
  }