.homepage {
    display: flex;
}

.calorieSheet {
    flex-direction: column;
    padding: 4rem;
    max-width: 28rem;
    margin-right: auto;
    margin-left: 4rem;
    margin-top: 8rem;
    height: 40rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    background-color: #72c2f7;
}

.homepage h1{
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
    
}

